<template name="splashBg">
    <div id="splash-bg-rotator" class="mtphr-rotator">
        <div class="mtphr-rotator-resource-container">
            <div id="splash-bg-1" class="mtphr-rotator-resource" data-mtphr-parallax-speed="6"></div>
            <div id="splash-bg-2" class="mtphr-rotator-resource" data-mtphr-parallax-speed="6"></div>
            <div id="splash-bg-3" class="mtphr-rotator-resource" data-mtphr-parallax-speed="6"></div>
        </div>
    </div>
</template>

<template name="splashText">
    <div id="splash-text-rotator" class="mtphr-rotator ">
        <div class="mtphr-rotator-resource-container">
            <div class="mtphr-rotator-resource"> SYNESTHESIA </div>
            <div class="mtphr-rotator-resource"> AUDACITY </div>
            <div class="mtphr-rotator-resource"> ASTRONOMICAL </div>
        </div>


        <div class="mtphr-rotator-navigation">
            <a href="#0" rel="nofollow"><i class="apex-icon-circle"></i><i
                    class="fa fa-circle-o"></i></a>
            <a href="#1" rel="nofollow"><i class="apex-icon-circle"></i><i
                    class="fa fa-circle-o"></i></a>
            <a href="#2" rel="nofollow"><i class="apex-icon-circle"></i><i
                    class="fa fa-circle-o"></i></a>
        </div>
    </div>
</template>