<template name="splashBg">
    <div id="splash-bg-rotator" class="mtphr-rotator">
        <div class="mtphr-rotator-resource-container">
            <div id="splash-bg-1" class="mtphr-rotator-resource bg-init" data-mtphr-parallax-speed="6"></div>
            <div id="splash-bg-2" class="mtphr-rotator-resource bg-init" data-mtphr-parallax-speed="6"></div>
            <div id="splash-bg-3" class="mtphr-rotator-resource bg-init" data-mtphr-parallax-speed="6"></div>
        </div>
    </div>
</template>

<template name="splashText">
    <div id="splash-text-rotator" class="mtphr-rotator ">
        <div class="mtphr-rotator-resource-container">
            <h3 class="mtphr-rotator-resource"> SYNESTHESIA </h3>
            <h3 class="mtphr-rotator-resource"> AUDACITY </h3>
            <h3 class="mtphr-rotator-resource"> ASTRONOMICAL </h3>
        </div>


        <div class="mtphr-rotator-navigation">
            <a href="#0" rel="nofollow">

                <i class="fa fa-circle-o"></i>
            </a>
            <a href="#1" rel="nofollow">

                <i class="fa fa-circle-o"></i>
            </a>
            <a href="#2" rel="nofollow">

                <i class="fa fa-circle-o"></i>
            </a>
        </div>
    </div>
</template>

<template name="splashButtons">
    <div class="row">
        <div class="btn-group">
            <!--offset one col to center buttons-->
            <span class="splash-btn">
                <button class="btn"><i class="fa fa-book"></i> <p>About</p> </button>
            </span>

            <span class="splash-btn">
                <button class="btn"><i class="fa fa-wrench"></i> <p>R&D</p> </button>
            </span>

            <span class="splash-btn">
                <button class="btn"><i class="fa fa-suitcase"></i> <p>Services</p> </button>
            </span>

            <span class="splash-btn">
                <button class="btn"><i class="fa fa-file-code-o"></i> <p>Portfolio</p> </button>
            </span>

            <span class="splash-btn">
                <button class="btn"><i class="fa fa-users"></i> <p>Careers</p> </button>
            </span>
            <span class="splash-btn">
                <button class="btn"><i class="fa fa-paper-plane-o"></i> <p>Contact</p> </button>
            </span>
        </div>

    </div>
</template>
