<template name="layout">


	<!--navigation-->
	{{> navigation}}
	<!--end navigation-->

	<section id="splash">
		<div class="container">


			<div class="splash-background">



			</div>

			<div id="splash-menu">

				<div class="row">
					<div><img src="images/gliese-white.png" /></div>
				</div>


				<!--text roller goes here-->
				<!--end text roller-->

				<!--carousel indicators-->
                <!--end carousel indicators-->



				<div class="row">

                    <div class="btn-group">

                        <button class="btn"><i class="fa fa-suitcase"></i> <p>About</p> </button>

                        <button class="btn"><i class="fa fa-suitcase"></i> <p>R&D</p> </button>

                        <button class="btn"><i class="fa fa-suitcase"></i> <p>Services</p> </button>

                        <button class="btn"><i class="fa fa-suitcase"></i> <p>Portfolio</p> </button>

                        <button class="btn"><i class="fa fa-suitcase"></i> <p>Contact</p> </button>

                    </div>

				</div>

			</div>

		</div>
	</section>

</template>