<template name="layout">


	<!--navigation-->
	{{> navigation}}
	<!--end navigation-->

	<section id="splash">
		<div class="splash-container">

        <!--splash background-->
            {{> splashBg}}
        <!--end splash background-->

			<div id="splash-menu" class="container">

				<span id="splash-logo" class="row">
					<img src="images/gliese-white.png" />
				</span>


            <!--text roller goes here-->
                {{> splashText}}
            <!--end text roller-->

            <!--splash menu buttons-->
                {{> splashButtons}}
            <!--end splash menu buttons-->

			</div>

		</div>
	</section>

    <section id="about">
        <div class="container">
            <div class="row text-center">
                <h1 >About Us</h1>

            <!--seperator-->
                {{> seperator}}
            <!--end seperator-->

                <h4 >World-class software solutions</h4>
            </div>

            <p >Gliese Technology is a software consulting & development firm based in Melbourne, Australia - providing a suite of software solutions for Enterprise & Government clients.</p>
            <p >We have brought together a unique team of creative designers, developers & engineers who are passionate about providing high-quality mobile, web and software solutions for your organisation. We specialise in engineering everything from scalable web architectures to developing fast-paced arcade games and mobile websites. Our mission is to continue engineering the future, helping Australian & international entities establish a presence in a world that is aggressively moving to the cloud and benefit from the momentum of the next-generation of innovations in the software market.</p>
            <p>We are very much immersed in the in-and-outs and the latest developments in the industry and our staff's experience & expertise in their respective fields makes us the ideal consultant for your organisations needs. If you're developing, upgrading or speculating about software systems and products that can amplify the efficacy, presence & scope of your organisation or building something to deploy to the market then we are the people to get in contact with!</p>


        </div>
    </section>


    <section id="quotes-1" class="bg-init">
        <div class="container">
            <div class="row text-center">
                <!--carousel start-->
                <div class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">

                        <div class="item active">
                            <article class="">
                                <span class="quotes-icon"><i class="fa fa-quote-right"></i></span>
                                <blockquote>
                                    <p>"World class software soultions for world-class clients"</p>
                                    <footer><cite>Yaser Jarrar, Director</cite></footer>
                                </blockquote>
                            </article>
                        </div>

                        <div class="item">
                            <article class="">
                                <span class="quotes-icon"><i class="fa fa-quote-right"></i></span>
                                <blockquote>
                                    <p>"Innovative, effective,reliable, & always fiercely efficient</p>
                                    <footer><cite>Our promise to you</cite></footer>
                                </blockquote>
                            </article>
                        </div>

                        <div class="item">
                            <article class="">
                                <span class="quotes-icon"><i class="fa fa-quote-right"></i></span>
                                <blockquote>
                                    <p>"Engineering the future.."</p>
                                    <footer><cite>Our promise to you</cite></footer>
                                </blockquote>
                            </article>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</template>